<div>
    <form #insertarForm="ngForm" >
        <div>
            <label for="numero">Número:</label>
            <input type="number" id="numero" name="numero" #cajaNumero>
        </div>
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" #cajaNombre>
        </div>
        <div>
            <label for="localidad">Localidad:</label>
            <input type="text" id="localidad" name="localidad" #cajaLocalidad>
        </div>
        <button type="submit" (click)="insertarDepartamento()">Insertar Departamento</button>
    </form>
    @if(status){
        <a [routerLink]="[ '']">Volver a home</a>
    }
</div>